@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    scroll-behavior: smooth;

    --primary: 8, 89%, 61%;
    --primary-50: 8, 64%, 92%;
    --primary-100: 8, 50%, 80%;
    --primary-200: 8 38% 61%;
    --primary-300: 8 42% 52%;
    --primary-400: 8 50% 45%;
    --primary-500: 8 61% 38%;
    --primary-600: 8 71% 31%;
    --primary-700: 8 78% 23%;
    --primary-800: 8 82% 15%;
    --primary-900: 200, 85%, 8%;

    --secondary: 39 100% 61%;
    --secondary50: 39 25% 92%;
    --secondary100: 39 50% 80%;
    --secondary200: 39 38% 61%;
    --secondary300: 39 42% 25%;
    --secondary400: 39 50% 45%;
    --secondary500: 39 61% 38%;
    --secondary600: 39 71% 31%;
    --secondary700: 39 78% 23%;
    --secondary800: 39 82% 15%;
    --secondary900: 39 85% 8%;

    --surface: 0 0% 91%;

    --border-100: 200 26% 95%;
    --border-200: 200 15% 91%;
    --border-300: 200 7% 83%;

    --heading: 8 85% 8%;
    --body-50: 8 33% 97%;
    --body-100: 8 7% 72%;
    --body-200: 8 3% 50%;
    --body-300: 39 3% 24%;
    --body-400: 200 3% 7%;

    --background-50: 0 0% 100%;
    --background-100: 8 33% 97%;
    --background-200: 8 26% 95%;
    --background-300: 8 25% 91%;
    --background-400: 8 18% 85%;

    --icon-500: 8 10% 89%;
    --icon-600: 8 6% 77%;
    --icon-700: 8 5% 42%;
    --icon-800: 8 5% 29%;

    --neutral-100: 0 0% 87%;
    --neutral-300: 168 1% 75%;
    --neutral-500: 168 1% 50%;
    --neutral-900: 168 1% 5%;

    --success: 145 52% 51%;
    --success-light: 145 71% 95%;
    --success-dark: 145 52% 10%;

    --error: 7 100% 61%;
    --error-light: 7 71% 95%;
    --error-dark: 7 52% 10%;

    --warning: 44 94% 65%;
    --warning-light: 44 71% 95%;
    --warning-dark: 44 52% 10%;

    --info: 210 92% 63%;
    --info-light: 210 71% 95%;
    --info-dark: 210 52% 10%;
  }

  .dark {
    --primary: 8, 89%, 61%;
    --primary-50: 8, 64%, 92%;
    --primary-100: 8, 50%, 80%;
    --primary-200: 8 38% 61%;
    --primary-300: 8 42% 52%;
    --primary-400: 8 50% 45%;
    --primary-500: 8 61% 38%;
    --primary-600: 8 71% 31%;
    --primary-700: 8 78% 23%;
    --primary-800: 8 82% 15%;
    --primary-900: 200, 85%, 8%;

    --secondary: 39 100% 61%;
    --secondary50: 39 25% 92%;
    --secondary100: 39 50% 80%;
    --secondary200: 39 38% 61%;
    --secondary300: 39 42% 25%;
    --secondary400: 39 50% 45%;
    --secondary500: 39 61% 38%;
    --secondary600: 39 71% 31%;
    --secondary700: 39 78% 23%;
    --secondary800: 39 82% 15%;
    --secondary900: 39 85% 8%;

    --surface: 0 0% 91%;

    --border-100: 200 26% 95%;
    --border-200: 200 15% 91%;
    --border-300: 200 7% 83%;

    --heading: 8 85% 8%;
    --body-50: 8 33% 97%;
    --body-100: 8 7% 72%;
    --body-200: 8 3% 50%;
    --body-300: 39 3% 24%;
    --body-400: 200 3% 7%;

    --background-50: 0 0% 100%;
    --background-100: 8 33% 97%;
    --background-200: 8 26% 95%;
    --background-300: 8 25% 91%;
    --background-400: 8 18% 85%;

    --icon-500: 8 10% 89%;
    --icon-600: 8 6% 77%;
    --icon-700: 8 5% 42%;
    --icon-800: 8 5% 29%;

    --neutral-100: 0 0% 87%;
    --neutral-300: 168 1% 75%;
    --neutral-500: 168 1% 50%;
    --neutral-900: 168 1% 5%;

    --success: 145 52% 51%;
    --success-light: 145 71% 95%;
    --success-dark: 145 52% 10%;

    --error: 7 100% 61%;
    --error-light: 7 71% 95%;
    --error-dark: 7 52% 10%;

    --warning: 44 94% 65%;
    --warning-light: 44 71% 95%;
    --warning-dark: 44 52% 10%;

    --info: 210 92% 63%;
    --info-light: 210 71% 95%;
    --info-dark: 210 52% 10%;
  }
}
